.side_bar
  .side_bar__user-name
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__icons
        %li.top-items__pen
          = link_to "#", class: "top-items__btn" do
            = icon('far', 'edit')
        %li.top-items__gear
          = link_to "#", class: "top-items__btn" do
            = icon('fas', 'cog')

  .side_bar__group-list
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech
    .group
      .group__name
        techcamp
      .group__message
        tech

-#     <div class="side-bar">
-#       <div class="side-bar__user-same"></div>
-#       <div class="side-bar__group-list"></div>
-#     </div>